@media screen and (min-width:2560px){
    .filme-principal{
        height: 600px;
        font-size: 150%;
    }
    .botao{
        width: 300px;
        font-size: 18px;
    }
}

@media screen and (max-width:1015px){
    .filme-principal .container{
       margin-top: 5%;
    }
}

@media screen and (max-width:840px){
    .filme-principal .container{
       margin-top: 10%;
    }
}

@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
  
    .filme-principal .descricao{
        margin-bottom: 30px;
    }
    .botao{
       padding: 20px;
    }
}

@media screen and (min-width:750px){
   .filme-principal .descricao{
       margin-top: 3px;
        width: 60%;
    }

}


@media screen and (max-width:619px){
    .filme-principal .descricao{
        margin-bottom: 25px;
    }
    .filme-principal{
        height: 250px;
        margin-bottom: 50px;
    }

    .filme-principal .container{
        margin-top: 2%;
    }

    .titulo{
        margin-top: 1.5%;
    }
}
@media screen and (max-width:580px){
    
    .titulo{
        margin-bottom: 40px;
    }
    .filme-principal .descricao{
       display: none;
    }
  
    .carrosel-filmes{
        margin-top: 10px;
    }
    .descricao{
        font-size: 0px;
    }
     .botao {
        font-size: 10px;
    }
    .botao a:start{
    color:black;
    }

    
}

@media screen and (max-width: 522px){
    .filme-principal{
       height: 350px;
    }
   .filme-principal .descricao{
        margin-bottom: 2px;
    }
    .botao{
        padding: 4%;
    }
    .filme-principal .container{
        width: 100%;
    }
}

